# General information:
general:
  ssh_repo_url: '[REPO_URL]'                          # The repository your project is stored

# Staging servers:
server:
  # The production server
  production:
    host: 'applicationname.com'                       # Deployment server hostname/ip
    stage: 'production'                               # Stage name; can be used by 'dep deploy-yii [stage]
    branch: 'master'                                  # The branch that should be used to deploy
    deploy_path: '/var/www/applicationname.com'       # The deploy location
    ssh_user: 'username'                              # The SSH username, that has access to the remote server

  # The development server
  development:
    host: 'dev.applicationname.com'                   # Deployment server hostname/ip
    stage: 'development'                              # Stage name; can be used by 'dep deploy-yii [stage]
    branch: 'develop'                                 # The branch that should be used to deploy
    deploy_path: '/var/www/dev.applicationname.com'   # The deploy location
    ssh_user: 'username'                              # The SSH username, that has access to the remote server

  # An custom deployment server:
  custom:
    host: 'localhost'                                 # Deployment server hostname/ip
    stage: 'test'                                     # Stage name; can be used by 'dep deploy-yii [stage]
    branch: 'develop'                                 # The branch that should be used to deploy
    deploy_path: '/var/www/test.local'                # The deploy location
    ssh_user: 'johankladder'                          # The SSH username, that has access to the remote server
    settings:
      yii:
        init: 'Development'                           # Environment that can be used. See `php init` for possibilities
        overwrite: 'All'                              # Overwrite all the generated files during init | Can also be None
      files:
        upload-files:
          - 'common/config/afile.yml'                 # A file that needs the be send to the remote server
        show:
          - 'common/config/afile.yml'                 # A file that needs to be outputted when deploying
      migrate:
        rbac: true                                    # Execute RBAC migrations
        db: true                                      # Execute `yii migrate`
      sync:
        uploads:
          source: 'shared/uploads/'                   # Base of the sync folder
          dest: 'shared/uploads'                      # 'To' pathname from base deployment path
          create_if_not_exists: true                  # Create the 'To' path if not exist
    shared:
      - 'common/config/config.yaml'