[project]
	description = A Yii2 deployer tool, with the help of Deployer
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Johan Kladder (johankladder)
[access "refs/for/refs/*"]
	read = group user/Johan Kladder (johankladder)
	push = group user/Johan Kladder (johankladder)
	label-Code-Review = -2..+2 group user/Johan Kladder (johankladder)
	label-Verified = -1..+1 group user/Johan Kladder (johankladder)
	rebase = group user/Johan Kladder (johankladder)
	removeReviewer = group user/Johan Kladder (johankladder)
	submit = group user/Johan Kladder (johankladder)
[access "refs/heads/*"]
	read = group user/Johan Kladder (johankladder)
	create = group user/Johan Kladder (johankladder)
	push = +force group user/Johan Kladder (johankladder)
	pushMerge = group user/Johan Kladder (johankladder)
[access "refs/tags/*"]
	push = group user/Johan Kladder (johankladder)
	push = +force group user/Johan Kladder (johankladder)
